# ETC
**/.ipynb_checkpoints
**/__pycache__
**/._**
._**
.DS_**

# dataset
input/data/*

# baseline
baseline_code/wandb/*
!baseline_code/custom/sample
!baseline_code/custom/sample/settings
!baseline_code/custom/sample/submission/*
baseline_code/custom/*

#temp
baseline_code/tempSettings/*

# output
output/*
