# ETC
**/.ipynb_checkpoints
**/__pycache__
**/._**
._**
.DS_**

# dataset
input/data/*

# baseline
baseline_code/wandb/*
baseline_code/custom/*
!baseline_code/custom/sample/*

#temp
baseline_code___/*
baseline_code/tempSettings/*

# output
output/*
