# ETC
**/.ipynb_checkpoints
**/__pycache__
**/._**
._**
.DS_**

# dataset
input/data/*

# baseline
torch_dev/wandb/*
!torch_dev/custom/sample
!torch_dev/custom/sample/settings
!torch_dev/custom/sample/submission/*
torch_dev/custom/*

#temp
torch_dev/tempSettings/*

# output
output/*
